<!DOCTYPE html>
<html>
<head>
	<title> Lista </title>
</head>
<body>
{% block title %}Lista de jugadores{% endblock %}

{% block content %}

<br> 

<table class = "table table-strip"> 

<th> Nombre de jugadores </th>

{% for jugador in list_jugadors %} 
<tr>
<td>{{ jugador.nombre_de_jugador }}</td>>
</tr>


{% endfor %}

</table>

{% endblock %}


</body>
</html>
