<!DOCTYPE html>
<html>
<head>
	<title> Lista </title>
</head>
<body>
{% block title %}Detalles de jugadores{% endblock %}

{% block content %}

<br> 

<table class = "table table-strip"> 

<th> Nombre de jugadores </th>
<th> Posicion </th>
<th> No. de jugador </th>
<th> Equipo </th>
<th> Estatus </th>

{% for jugador in list_jugadors %}
{% if jugador.equipo == "Xolos" %}
<tr>
<td>{{ jugador.nombre_de_jugador }}</td>>
<td>{{ jugador.posicion }}</td>>
<td>{{ jugador.no_de_jugador }}</td>>
<td>{{ jugador.equipo }}</td>>
<td>{{ jugador.estatus }}</td>>
</tr>

{% endif %}
{% endfor %}

</table>

{% endblock %}

</body>
</html>