<!DOCTYPE html>
<html>
<head>
	<title> Lista </title>
</head>
<body>
{% block title %}Lista de estadios{% endblock %}

{% block content %}

<br> 

<table class = "table table-strip"> 

<th> Nombre de estadios </th>

{% for estadio in list_estadios %} 
<tr>
<td>{{ estadio.nombre }}</td>>
</tr>


{% endfor %}

</table>

{% endblock %}


</body>
</html>
